html.debug {
  .main,
  .nav,
  .aside,
  .header,
  .footer {
    position: relative;
  }

  .main::after,
  .nav::after,
  .header::after,
  .footer::after,
  .aside::after {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    background-color: gray;
    color: white;
    border: 1px solid white;
    padding-inline: 4px;
    padding-block: 2px;
    border-radius: 4px;
  }

  .nav:after {
    content: ".nav";
  }

  .main:after {
    content: ".main";
  }

  .aside:after {
    content: ".aside";
  }

  .sidebar:after {
    content: ".sidebar";
  }

  .header:after {
    content: ".header";
  }

  .footer:after {
    content: ".footer";
  }

  .border-recursive,
  .border-recursive * {
    border: 1px dashed white;
  }
}
