$side-bar-width-desktop: 256px;
$side-bar-width-wide: 300px;

@import "./debug.scss";
@import "./gap.scss";
@import "./twin.scss";
@import "./standard.scss";

// resets
html {
  box-sizing: border-box !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html.html {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.header,
.body,
.footer {
  max-width: 100vw;
  overflow-x: hidden;
}

html.layout-standard {
  .body {
    flex-grow: 1;
    overflow-x: hidden;
  }

  .main {
    grid-area: main;
  }

  .aside {
    grid-area: aside;
  }

  .nav {
    grid-area: nav;
  }

  .header {
    grid-area: header;
  }

  .footer {
    grid-area: footer;
  }

  .body {
    display: grid;
    position: relative;
    grid-template: auto auto 1fr auto auto / 1fr;
    grid-template-areas: "header" "nav" "main" "aside" "footer";

    @media screen and (min-width: 768px) {
      grid-template: auto 1fr auto auto / #{$side-bar-width-wide} 1fr; // [ rows / columns ]
      grid-template-areas:
        "header header"
        "nav main"
        "nav aside"
        "footer footer";
    }

    @media screen and (min-width: 1024px) {
      grid-template: auto 1fr auto / #{$side-bar-width-desktop} 1fr #{$side-bar-width-desktop}; // [ rows / columns ]
      grid-template-areas:
        "header header header"
        "nav main aside"
        "footer footer footer";
    }

    @media screen and (min-width: 1600px) {
      grid-template: auto 1fr auto / #{$side-bar-width-wide} 1fr #{$side-bar-width-wide}; // [ rows / columns ]
      grid-template-areas:
        "header header header"
        "nav main aside"
        "footer footer footer";
    }
  }
}

// @media screen and (max-width: 768px) {
//   .nav {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     width: 100%;
//     grid-area: unset !important;
//     height: 100%;
//     background-color: aqua;
//     transform: translateX(-100%);

//     &.is-active {
//       transform: translateX(0);
//     }
//   }
// }
