html.debug {
  .main,
  .nav,
  .aside,
  .header,
  .footer {
    position: relative;
  }

  .main::after,
  .nav::after,
  .body:after,
  .header::after,
  .footer::after,
  .aside::after {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    color: white;
    background-color: darkslateblue;
    outline: 1px solid darkblue;
    padding-inline: 4px;
    padding-block: 2px;
    border-radius: 4px;
  }

  .nav:after {
    content: '<nav class="nav">';
  }

  .main:after {
    content: '<main class="main">';
  }

  .aside:after {
    content: '<aside class="aside"';
  }

  .header:after {
    content: '<header class="header">';
  }

  .footer:after {
    content: '<footer class="footer"';
  }

  .body:after {
    background-color: blueviolet;
    outline: 1px solid blueviolet;
    inset-block-start: unset;
    inset-inline-start: unset;
    inset-inline-end: 0;
    content: '<body class="body">';
  }

  .outline-recursive,
  .outline-recursive * {
    outline: 1px dashed darkblue;
  }
}
