@font-face {
  font-family: "Cascadia Code", Consolas, "Courier New", monospace;
  src: url("./CascadiaCode.ttf");
}

$normal-font-stack: Verdana, Arial, Helvetica, sans-serif;
$monospace-font-stack: "Cascadia Code", "Courier New", Courier, monospace;

@import "@microsoft/atlas-css/src/index.scss";
@import "./debug.scss";
@import "../src/grail.scss";

html {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  nav .markdown {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);

    .subcontainer {
      display: grid;
    }

    input:not(:checked) ~ .subcontainer {
      display: none;
    }

    input:checked + label {
      text-decoration: underline;
    }
  }
}
