@use "./variables" as *;

.#{$grail-class-prefix}html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;

  --grail-layout-gap-inline: 2rem;
  --grail-layout-gap-block: 1rem;
}

.#{$grail-class-prefix}body,
.#{$grail-class-prefix}footer {
  max-width: 100vw;
  overflow-x: hidden;
}

.#{$grail-class-prefix}body {
  flex-grow: 1;
  overflow-x: hidden;
}

.#{$grail-class-prefix}main {
  grid-area: main;
}

.#{$grail-class-prefix}aside {
  grid-area: aside;
}

.#{$grail-class-prefix}nav {
  grid-area: nav;
}

.#{$grail-class-prefix}header {
  grid-area: header;
}

.#{$grail-class-prefix}footer {
  grid-area: footer;
}
