@use "./variables" as *;

.#{$grail-class-prefix}layout-twin {
  .#{$grail-class-prefix}header,
  .#{$grail-class-prefix}footer,
  .#{$grail-class-prefix}nav {
    padding-inline: $layout-gap-inline;
  }

  .#{$grail-class-prefix}body {
    row-gap: var(--grail-layout-gap-block);
  }

  .#{$grail-class-prefix}main {
    padding-inline: $layout-gap-inline calc(#{$layout-gap-inline} / 2);
    background-color: inherit;
  }

  // when nav isn't present a double row gap appears, this offsets that with negative margin then ... (see next block)
  .#{$grail-class-prefix}main,
  .#{$grail-class-prefix}aside {
    margin-top: calc(-1 * $layout-gap-block);
  }

  // ... this removes margin above if nav is present and located in the DOM before main and aside
  .#{$grail-class-prefix}nav ~ .#{$grail-class-prefix}main,
  .#{$grail-class-prefix}nav ~ .#{$grail-class-prefix}aside {
    margin-top: 0;
  }

  .#{$grail-class-prefix}aside {
    padding-inline: calc(#{$layout-gap-inline} / 2) $layout-gap-inline;
  }

  .#{$grail-class-prefix}body {
    display: grid;
    grid-template: auto auto 1fr auto auto / 1fr;
    grid-template-areas: "header" "nav" "main" "aside" "footer";

    @media screen and (min-width: #{$grail-breakpoint-narrow}) {
      grid-template: auto auto 1fr auto / 1fr 1fr;
      grid-template-areas:
        "header header"
        "nav nav"
        "main aside"
        "footer footer";
    }

    @media screen and (min-width: $grail-breakpoint-extra-large) {
      grid-template: auto auto 1fr auto / 1fr 1fr;
      grid-template-areas:
        "header header"
        "nav nav"
        "main aside"
        "footer footer";
    }
  }
}
