.#{$grail-class-prefix}layout-twin {
  .#{$grail-class-prefix}header,
  .#{$grail-class-prefix}footer,
  .#{$grail-class-prefix}nav {
    padding-inline: $layout-gap-inline;
  }

  .#{$grail-class-prefix}main {
    padding-inline: $layout-gap-inline calc(#{$layout-gap-inline} / 2);
    background-color: inherit;
  }

  .#{$grail-class-prefix}aside {
    padding-inline: calc(#{$layout-gap-inline} / 2) $layout-gap-inline;
  }

  .#{$grail-class-prefix}body {
    display: grid;
    grid-template: auto auto 1fr auto auto / 1fr;
    grid-template-areas: "header" "nav" "main" "aside" "footer";

    @media screen and (min-width: 768px) {
      grid-template: auto auto 1fr auto / 1fr 1fr; // [ rows / columns ]
      grid-template-areas:
        "header header"
        "nav nav"
        "main aside"
        "footer footer";
    }

    @media screen and (min-width: 1600px) {
      grid-template: auto 1fr auto / #{$side-bar-width-wide} 1fr 1fr; // [ rows / columns ]
      grid-template-areas:
        "header header header"
        "nav main aside"
        "footer footer footer";
    }
  }
}
