$grail-class-prefix: "" !default;
$side-bar-width-desktop: 260px !default;
$side-bar-width-wide: 300px !default;
$layout-gap-inline: var(--grail-layout-gap-inline) !default;
$layout-gap-block: var(--grail-layout-gap-block) !default;
